<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tienda</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo" />
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Compra en cuotas y sin tarjetas de crédito
            </h2>
        </div>
        <a href="#" class="hamburger-btn">
            <i class="fas fa-bars"></i>
        </a>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li>
                    <a href="#">Crea tu cuenta <i class="fas fa-id-card"></i></a>
                </li>
                <li>
                    <a href="#">Ingresa <i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li>
                    <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
                </li>
            </ul>
        </nav>
    </header>

    <!--Formulario -->
    <form action="/crear-producto" method="POST" class="create-form">
        <div class="control-formulario">
            <label>Nombre del producto:</label>
            <input type="text" name="nombre" class="control">
        </div>
        <div class="control-formulario">
            <label>Precio:</label>
            <input type="text" name="precio" placeholder="123.56" class="control">
        </div>
        <div class="control-formulario">
            <label>Categoría:</label>
            <select name="categoria" class="control">
                <option value="hogar">Hogar</option>
                <option value="electro">Electro</option>
                <option value="indumentaria">Indumentaria</option>
            </select>
        </div>
        <div class="control-formulario">
            <label>Ciudad:</label>
            <select name="ciudad" class="control">
                <option value="baires">Buenos Aires</option>
                <option value="ros">Rosario</option>
                <option value="mdz">Mendoza</option>
            </select>
        </div>
        <div class="control-formulario">
            <label>Descripcion</label>
            <textarea name="descripcion" class="control"></textarea>
        </div>
        <div class="control-formulario">
            <label>Está en oferta:</label>
            <input type="radio" name="enOferta">
        </div>


        <button type="reset" class="boton-formulario">
            Borrar
        </button>
        <button type="submit" class="boton-formulario">
            Guardar
        </button>


    </form>

    <h2 class="container">
        Lorem ipsum dolor sit amet
    </h2>
    <div class="container">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat iusto ratione sunt autem libero repellendus,
            veritatis
            reiciendis quod vel doloremque consequuntur saepe et perspiciatis nostrum laudantium! Fugit suscipit
            asperiores atque.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat iusto ratione sunt autem libero repellendus,
            veritatis
            reiciendis quod vel doloremque consequuntur saepe et perspiciatis nostrum laudantium! Fugit suscipit
            asperiores atque.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat iusto ratione sunt autem libero repellendus,
            veritatis
            reiciendis quod vel doloremque consequuntur saepe et perspiciatis nostrum laudantium! Fugit suscipit
            asperiores atque.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat iusto ratione sunt autem libero repellendus,
            veritatis
            reiciendis quod vel doloremque consequuntur saepe et perspiciatis nostrum laudantium! Fugit suscipit
            asperiores atque.</p>
    </div>

    <div class="cuadricula container">
        <article class="product">
            <img src="/images/img-cafetera-moulinex.jpg" alt="">
            <h2>Cafetera Moulinex</h2>
        </article>

        <article class="product">
            <img src="/images/img-cafetera-moulinex.jpg" alt="">
            <h2>Cafetera Moulinex</h2>
        </article>

        <article class="product banner" >
            <img src="/images/img-home-banner.jpg" alt="">
            <h2>Home Banner</h2>
        </article>

        <article class="product">
            <img src="/images/img-macbook-pro-2019.jpg" alt="">
            <h2>Macbook Pro 2019</h2>
        </article>

        <article class="product">
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
            <h2>Samsung Galaxy</h2>
        </article>

        <article class="product">
            <img src="/images/img-tv-samsung-smart.jpg" alt="">
            <h2>TV Samsung Smart</h2>
        </article>

        <article class="product">
            <img src="/images/img-tv-samsung-smart.jpg" alt="">
            <h2>TV Samsung Smart</h2>
        </article>
        
    </div>

    <footer class="container">
        <section>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con
                tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>
        <section>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos
                gratis en miles de productos. Es un beneficio de Mercado
                Puntos.
            </p>
        </section>
        <section>
            <h4>Seguridad, de principio a fin</h4>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que
                no puedas hacer, porque estás siempre protegid@.
            </p>
        </section>
        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>


</body>

</html>