<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crea tu cuenta</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <main>
        <form action="" method="POST">
            <h2>CREAR CUENTA</h2>

            <div>
                <input type="text" class="fill_form" name="nombre" placeholder="Nombre y apellido">
            </div>

            <div>
                <input type="text" class="fill_form" name="usuario" placeholder="Nombre de usuario">
            </div>
            <p>Fecha de nacimiento:</p>
            <div>
                <label for="fecha_nacimiento"></label>
                <input type="date" name="Fecha de nacimiento" id="fecha_nacimiento">
            </div>

            <div>
                <input type="text" name="domicilio" placeholder="Domicilio (Calle, exterior, interior, C.P.)">
            </div>
            <p>Perfil de Usuario:</p>
            <div>
                <input type="radio" id="Comprador" name="comprador" value="comprador">
                <label for="comprador">Comprador</label>

                <input type="radio" id="Vendedor" name="vendedor" value="vendedor">
                <label for="Vendedor">Vendedor</label>
            </div>
            <p>Categorías de interés:</p>
            <div>
                

            </div>
        </form>
    </main>





</body>

</html>